{% extends 'base.html' %}


{% block content %}
    {% if meme_list is False %}
        NO MEMES FOUND
    {% elif meme_list %}
        {% if user.is_authenticated %}
            Hello {{ user.username }}
        {% endif %}
        <ul>
            {% for meme in meme_list %}


                {% if meme.picture.url %}

                    <div>
                    <div class="container"><a class="text-secondary"
                                              style="text-decoration: none !important; font-size: 50px"
                                              href="{% url 'memes:detail' meme.id %}">{{ meme.title }}  </a>
                    </div>
                    <img src="{{ meme.picture.url }}">
                    <div class="row">

                        {% if user.is_authenticated %}
                            <div class="col-2">
                            {% for meme_data in meme_likes %}
                                {% if meme_data.id == meme.id %}

                                    <form method="POST" class='like-form' id='{{ meme.id }}'
                                          action={% url 'memes:like' meme.id %}>
                                        {% csrf_token %}
                                        <input type="hidden" name="meme_id" value={{ meme.id }}>
                                        {% if user not in meme.likes.all %}
                                            <button type="submit" name="meme_id" value="{{ meme.id }}" id="like-button"
                                                    class="btn btn-block btn-info like-btn{{meme.id}} ">
                                            Like
                                            </button>
                                        {% else %}
                                            <button type="submit" name="meme_id" value="{{ meme.id }}" id="like-button"
                                                    class="btn btn-block btn-info like-btn{{meme.id}}">
                                                Unlike
                                            </button>
                                        {% endif %}
                                    </form>

                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        </div>
                        <div class="col">
                            <p style="font-size: 25px; color: dodgerblue"> Current score:
                                {% for meme_data in meme_likes %}
                                    {% if meme_data.id == meme.id %}
                                        <p2 class="like-count{{meme.id}}">{{meme_data.total_likes}}</p2>
                                    {% endif %}
                                {% endfor %}</p>
                        </div>
                        <div class="col">
                            {% if meme.owner == user %}
                                <a style="text-decoration: none !important;"
                                   href="{% url 'memes:delete' meme.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}


            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no memes in the database.</p>
    {% endif %}


    <script>

        $('.like-form').submit(function (e) {
            e.preventDefault()

            const meme_id = $(this).attr('id')

            const likeText = $(`.like-btn${meme_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${meme_id}`).text()
            const trimCount = parseInt(likes)
            console.log(trim)
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'meme_id': meme_id,
                },
                success: function (response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${meme_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${meme_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${meme_id}`).text(res)
                },
                error: function (response) {
                    console.log('error', response)
                }
            })
        });
    </script>


{% endblock %}